<div class="container">

  <div class="jumbotron mt-2">
    <h1>Articles from Science Daily!</h1>
  </div>

  <div class="container">
    <h6 class="text-right"></h6>
    <ol>
      {{#each articles}}
      <div class="row">
        {{!-- <div class="col-1"><li></div> --}}
        <div class="col-8">
          <li>
            <div class="card mt-3 p-2 article">

              {{!-- <div class="well"> --}}
              {{!-- {{#unless sleepy}} --}}
              <div class="title"> <h5> <a href="{{link}}"> {{title}} </a></h5> </div>
              {{!-- <div class="link">Link: {{link}}</div> --}}
              <div class="date">{{date}}</div>
              <div class="summary"> {{summary}}</div>


              {{!-- {{> articles/article-block}} --}}
              {{!-- {{/unless}} --}}

            </div>
          </li>

        </div>

        <div class="col-4"> 
          {{#if selected}}
          <div class="notes card">
          <div>Notes</div>
          </div>
          {{/if}}
        </div>
      </div>

      {{/each}}
    </ol>

  </div>

  {{!-- <ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}